<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\GuestPaymentInformationManagement">
        <plugin name="kaushik_save_order_comment_in_quote" type="Kaushikofficial\OrderComment\Plugin\Model\Checkout\GuestPaymentInformationManagement" sortOrder="10"/>
    </type>
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="kaushik_save_order_comment_in_quote" type="Kaushikofficial\OrderComment\Plugin\Model\Checkout\PaymentInformationManagement" sortOrder="20"/>
    </type>
    <type name="Magento\Quote\Model\QuoteManagement">
        <plugin name="kaushik_save_order_comment_in_quote" type="Kaushikofficial\OrderComment\Plugin\Model\Checkout\PaymentInformationManagement" sortOrder="10"/>
    </type>
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="kaushik_order_comment" xsi:type="string">sales_order.kaushik_order_comment</item>
            </argument>
        </arguments>
    </virtualType>
</config>